body{
    font-size: 2rem;
    background: linear-gradient(#Aad33a,#C4d);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    height: 25px;
}    
h1{
    text-align: center;
}
.rsa{
    display: flex;
flex-direction: column;
padding: 2px;
}

#submit{
    margin-top:10px;
   height:30px;
   background-color: rgb(238, 214, 171);
}
#submit:hover{
    background-color: greenyellow;
}
